:root {
  --rust: #ae5221;
  --rust-light: #c7815e;
  --rust-dark: #6c3014;
  --green: #3a8f3a;
  --green-light: #9dd89d;
  --green-dark: #005826;
  --blue: #4f76c2;
  --blue-light: #2b4d8555;
  --blue-dark: #2b4d85;
  --jacko-bean: #413628;
  --antique-white: #FAEBD7;
  --tan: #D2B48C;
  --border: #777777;
}
body {
  background: rgb(240,250,235);
  background: #2b4d85;
  background: linear-gradient(135deg,var(--blue-light) 40%,var(--blue) 60%,var(--blue-light) 100%);
  font-family: 'Roboto', 'Calibri Lite', sans-serif;
}
main {
  max-width: 1000px;
  min-width: 300px;
  margin:auto;
}
h1 {
  text-align: center;
}
nav {
  width: 1400px;
  display:flex;
  justify-content: space-around;
  margin:auto;
}
article {
  margin: 1em 0.5em;
}
section {
  width: 680px;
  box-sizing:border-box;
}
.subject {
  padding:10px 20px;
  border: 1px solid;
  border-color: var(--border);
  border-bottom: none;
  border-top-left-radius: 10px;
  background: #ffffff;
  font-weight: 600;
}
.body {
  height: 340px;
  padding: 20px;
  border: 1px solid;
  border-color: var(--border);
  //box-shadow: 2px 2px 10px #000000;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: auto;
  background: #ffffff;
}
#header .content, #footer .content {
  height: 240px;
}
.top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 100%;
  flex-wrap: wrap;
}
.detail {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.detail > a {
  text-decoration: none;
  padding: 3px 8px;
  color: #ffffff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  //box-shadow: 2px 0 5px #000000;
}
.update,
.generate {
  background: #00800055;
}
.update.new {
  background: red;
}
.copy, .include {
  background: blue;
}
.copy.copied, .include.added {
  background: #00800055;
}
.toggle {
  background: #cccccc;
}
.email {
  background: orange;
}
.inputs {
  display:flex;
  flex-wrap:wrap;
  max-width: 650px;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
}

.outer-table {
  width: 100%;
  font-size: 14px;
  margin: auto;
}
.inner-table {
  width: 600px;
  font-family: 'Roboto', 'Calibri Lite', sans-serif;
}
.element {
  width: 100%;
}
.shaded {
  background: #DFD9CE;
  border-right: 1px solid #CEC7BA;
  border-bottom: 2px solid #CEC7BA;
  border-top: 1px solid #FBF2E1;
  border-left: 2px solid #FBF2E1;
  border-radius: 3px;
}

.repeat {
  background: rgba(210,180,140,0.7);
  padding: 10px;
  width: fit-content;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid tan;
  position: relative;
}
.repeat h4 {
  position: absolute;
  top: -20px;
  right: 10px;
  padding:5px 10px;
  background: var(--jacko-bean);
  color: antiquewhite;
  border-radius: 5px;
}
fieldset {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid tan;
  background: antiquewhite;
  border-radius: 10px;
  color: var(--jacko-bean);
}
legend {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--jacko-bean);
  color: antiquewhite;
}
.field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
label {
  width: 200px;
}
aside {
  width:0;
  height:0;
}
.info svg {
  //width: 30px;
}
main > .color1 {
  background: rgba(255,87,51,0.7);
}
main > .color2 {
  background: rgba(70,130,180,0.7);
}
main > .color3 {
  background: rgba(46,139,87,0.7);
}
main > .color4 {
  background: rgba(147,112,219,0.7);
}
main > .color5 {
  background: rgba(255,215,0,0.7);
}
